@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
h1{
	color:red;
	font-family:Rajdhani;
}
p{
	font-family:DM sans;
}
i{
	color:pink;
	font-size:25px;
}